<div class="content">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-action">
                <div class="page-action-left">
                    <div class="tab-button">
                        <button type="button" routerLink="./club-news" *ngIf="participateAccess.news == 'Yes'" (click)="onNews()"
                            [ngStyle]="displayNews == true ? {'border-color': setTheme.default_status == true ? '#68759F' : setTheme.button_bgcolor,
                                'background-color': setTheme.default_status == true ? '#68759F' : setTheme.button_bgcolor,
                                'color': setTheme.default_status == true ? '#fff' : setTheme.button_text}
                                : {'border-color':setTheme.button_bgcolor,'background-color':'#fff','color':'#68759F'}">
                            <Span>{{language.club_wall.club_news}}</Span>
                        </button>
                        <button type="button" routerLink="club-dates" *ngIf="participateAccess.appointments == 'Yes'" (click)="onDates()"
                            [ngStyle]="displayDates == true ?  {'border-color': setTheme.default_status == true ? '#68759F' : setTheme.button_bgcolor,
                                'background-color': setTheme.default_status == true ? '#68759F' : setTheme.button_bgcolor,
                                'color': setTheme.default_status == true ? '#fff' : setTheme.button_text}
                                : {'border-color':setTheme.button_bgcolor,'background-color':'#fff','color':'#68759F'}" >
                            <Span>{{language.club_wall.club_dates}}</Span>
                        </button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="club_news_widget_group" *ngIf="userRole != 'guest'">
        <!-- club news top widget start -->
        <div class="row dash-widget" *ngIf="displayNews == true">
            <div class="col-md-9 club_widget club-wall-news">
                <app-club-news (dataLoaded)="onChildDataLoaded()"></app-club-news>
            </div>
            <div class="col-md-3 appointment_widget">
                <app-group-news (dataLoaded)="onChildDataLoaded()"></app-group-news>
            </div>
            <!-- club news top widget start -->
        </div>
        <app-club-dates *ngIf="displayDates == true"></app-club-dates>
    </div>
    <div class="club_news_widget_group" *ngIf="userRole == 'guest'">
        <!-- club news top widget start -->
        <div class="row dash-widget" *ngIf="displayNews == true">
            <div class="col-md-12 club_widget">
                <app-club-news></app-club-news>
            </div>
        </div>
        <app-club-dates *ngIf="displayDates == true"></app-club-dates>
    </div>
</div>
